@CHARSET "ISO-8859-1";

.menu .ui-state-default .ui-button-text {
	background-color: #4682B4 !important;
	background: #4682B4 !important;
	border: 1px solid #4682B4 ;
	color: #FFF;
	font-weight: normal;
	font-size: 13px;
}

.msgInfo,.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
	font-size: 12px !important;
}

.ui-growl-title {
    font-size: 12px ;
    text-align: center;
}
.ui-growl-message {
    font-size: 12px;
    letter-spacing: -1px;
}

.menuItem, .ui-menuitem .ui-widget .ui-corner-all {
	border: 1px solid #777777;
	font-weight: normal;
	font-size: 12px;
}

.barraMenu {
	background-color: #4682B4 !important;
	background: #4682B4 !important;
		
}


.ui-icon .ui-icon-circle-check{
	align="center";
}


.editarBotao { 
    background-image: url("../resources/images/editar16x16.png") !important; 
}

.excluirBotao { 
    background-image: url("../resources/images/excluir16x16.png") !important; 
}

.semborda{
	border-style: none;
}
